{% extends "::content_page_layout.html.twig" %}
{% set title = 'List Attendance'|trans %}
{% block local_stylesheet %}
    {% stylesheets
        "@AttedanceManagementUserBundle/Resources/public/css/list.css"
        "@AttedanceManagementUserBundle/Resources/public/css/bootstrap-datetimepicker.min.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block content %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flash_message }}
        </div>
    {% endfor %}
    <div id="subject-group-msg" class="hide alert alert-dismissible alert-warning ">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Please select subject and group and submit filter first
    </div>
    {{ form_start(form, { 'attr' : { 'class': 'form-inline' } }) }}
    <form class="form-inline">
        <div class="form-group">
            <label>Subject</label>
            {{form_widget(
                form.subject,
                {
                    'attr': {
                        'class': 'form-control'
                    }
                }
            )}}
        </div>
        <div class="form-group">
            <label>Group</label>
            {{form_widget(
                form.classGroup,
                {
                    'attr': {
                        'class': 'form-control'
                    }
                }
            )}}
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    {{ form_end(form) }}
    <hr />
    <div class="table-responsive col-md-12">
      <table class="table table" data-save-route="{{ path('save_attendance')}}">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Group</th>
            <th>Absent</th>
            <th>Date</th>
            <th>Session</th>
            <th>Action</th>
          </tr>
        </thead>
        {% for student in students %}
            <tbody>
            <tr>
                <th scope="row">{{ student.id }}</th>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.telephone }}</td>
                <td>{{ student.classGroup.name }}</td>
                <td>
                    {% set filters = app.request.query.get('attendance_filter_form') %}
                    {% set subject = null %}
                    {% set group = null %}
                    {% if filters is not null %}
                        {% set subject = filters['subject'] %}
                        {% set group = filters['classGroup'] %}
                    {% endif %}
                    <a href="#">
                        {{ render(controller(
                            'AttedanceManagementUserBundle:Attendance:countAbsentByStudent',
                                {
                                    'student': student.id,
                                    'subject': subject,
                                    'group': group
                                }
                            )
                        )}}
                    </a>
                </td>
                <td>
                    <input
                        data-id="{{student.id}}"
                        type="text"
                        class="datepicker form-control"
                        name="date_absent"
                    >
                </td>
                <td>
                    <label>Session 1:</label>
                    <input type="checkbox" name="session_one">
                    <br />
                    <label>Session 2:</label>
                    <input type="checkbox" name="session_two">
                </td>
                <td class="remove-underline">
                    <button
                        type="button"
                        onclick="Attendance.submit_attendance(this)"
                        class="btn btn-default"
                    >
                        Save
                    </button>
            </tr>
            </tbody>
        {% endfor %}
        </table>
    </div>
    {{ knp_pagination_render(students) }}
{% endblock %}
{% block javascripts %}
    {% javascripts
        "@AttedanceManagementUserBundle/Resources/public/js/moment.min.js"
        "@AttedanceManagementUserBundle/Resources/public/js/bootstrap-datetimepicker.min.js"
        "@AttedanceManagementUserBundle/Resources/public/js/attendance.js"
    %}
        <script src="{{asset_url}}"></script>
    {% endjavascripts %}
{% endblock %}
