{{ form_start(form) }}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-danger">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-5">
                        <label class="control-label">
                            <span>Group Name</span>
                        </label>
                    </div>
                    <div class="col-md-7">
                        {{form_widget(
                            form.name,
                            {
                                'attr': {
                                    'class': 'form-control'
                                }
                            }
                        )}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-offset-5 col-md-10">
                        <input
                            type="submit"
                            value="save"
                            class="btn btn-success"
                        >
                        <a
                            href="{{ path(
                                'list_group'
                            ) }}"
                            class="btn btn-default"
                        >
                            Go Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}